*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.inputBox{
    border-radius: 3px;
    border-width: 1.5px;
}
#outputLetter{
    font-size: 40px;
    margin-top: 5px;
    color: green;
}